Code
Kvantum
cef_user_data/WidevineCdm
cfg_backups
discord
dunst
gtk-3.0
htop
hypr/theme.ctl
i3
input-remapper-2
kde.org
lazygit
nwg-look
obs-studio
qt5ct
rofi
session
spicetify
spotify
whatsapp-for-linux
xsettingsd
QtProject.conf
baloofileinformationrc
dolphinrc
gtk-4.0
kconf_updaterc
kdeglobals
mimeapps.list
okularpartrc
okularrc
pavucontrol.ini
trashrc
user-dirs.dirs
user-dirs.locale
dconf
